include mixins.pug
include routes.pug
- var path = {css:"../Assets/style.css", js:"../Assets/logic/index.js"}

mixin showError(error)
 div.red-text.mdi.mdi-alert  #{error}

doctype html
html
 head
  +head("DevWallet-Login", path)
  style.
   .info{ font-size:.7em;}
body
 nav
  center Login
  
 form.card-panel.container.form(method="post" action=routes.login)
  label.mdi.mdi-account.mdi-36px
   input(name="name" placeholder="name" type="text")
  label.mdi.mdi-key.mdi-36px    
   input(name="password" placeholder="*****" type="password")
  label.center
   if(error)
    +showError(error)
  label.center
   button(type="submit").btn.btn-flat.waves-effect.waves-ripple Login
   a(href=routes.signup)
    div.mdi.mdi-help-circle.red-text.info Or signup here, if you don't have an account
 div.footer 
  div Made by AliCreative 
  div  2019
  