-
 var routes =
    {
    home:"/",
    login: "/login",
    signup:"/signup",
    dashboard:"/dashboard/home" ,
    account:"/dashboard/account",
    delete:"/dashboard/delete/",
    edit:"/dashboard/edit/",
    add:"/dashboard/new",
    setting:"/dashboard/settings",
    api:"/dashboard/api-reference",
    logout:"/login"
    }
